@import "../mocha.css";

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    color: @red;
}

#power-profiles-daemon.balanced {
    color: @text;
}

#power-profiles-daemon.power-saver {
    color: @teal;
}
